<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <property name="hibernate.current_session_context_class">thread</property>

    <property name="show_sql">true</property>

    <property name="connection.url">jdbc:mysql://127.11.225.2:3306/zuhtariserver</property>
    <property name="hibernate.connection.username">demouser</property>
    <property name="hibernate.connection.password">start123</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="ai.fhe.mp.model.Avatar"/>
      <mapping class="ai.fhe.mp.model.Color"/>
      <mapping class="ai.fhe.mp.model.Gen1Pattern"/>
      <mapping class="ai.fhe.mp.model.Gen2Pattern"/>
      <mapping class="ai.fhe.mp.model.Gen3Pattern"/>
      <mapping class="ai.fhe.mp.model.Inventory"/>
      <mapping class="ai.fhe.mp.model.Item"/>
      <mapping class="ai.fhe.mp.model.Market"/>
      <mapping class="ai.fhe.mp.model.Monster"/>
      <mapping class="ai.fhe.mp.model.MonsterCategory"/>
      <mapping class="ai.fhe.mp.model.User"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>